@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;

  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(198, 216, 231, 1) 12%,
    rgba(148, 192, 227, 1) 26%,
    rgba(117, 177, 225, 1) 39%,
    rgba(81, 159, 222, 1) 50%,
    rgba(64, 151, 221, 1) 60%,
    rgba(60, 149, 221, 1) 65%,
    rgba(38, 138, 219, 1) 76%
  );
}
